# Python
__pycache__/
*.py[cod]
*.so
venv/
.venv
*.egg-info/

# Environment
.env
.env.local

# Airflow
airflow/logs/
airflow/airflow.db

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db